// include font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

// include icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

// colors
$bg-color: #ffffff;
$primary-color: #00005e;
$secondary-color: #6c6ccc;
$danger-color: #a21616;
$success-color: #057e16;
$border-color: #afafaf;

// font
$font-family: 'Open Sans', sans-serif;

// grid
$breakpoint-m: 48rem;
